@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  margin: 0;
}
@font-face {
  font-family: "Revalia";
  src: url("../src/assets/Revalia/OFL.ttf");
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  background: transparent;
  height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

.universe {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin: 0 22px 0 0;
  font-size: 7em;
  font-weight: 800;
  color: white;
  overflow: hidden;
  background: #912a87;
  background: linear-gradient(to right, #912a87 9%, #b51fab 21%, #e32a74 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb:horizontal {
    display: block;
    background-color: rgba(94, 92, 92, 0.81);
    border-radius: 10px;
  }
}
